@import "tailwindcss";

.size1{
    width: 100%;
    height: 273px;
}

.size2{
    width: 100%;
    height: 222px;
}

.size3{
    width: 100%;
    height: 227px;
}

.size4{
    width: 100%;
    height: 538px;
}

.size5{
    width: 100%;
    height: 221px;
}

.size6{
    width: 100%;
    height: 228px;
}